body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'Times New Roman', sans-serif;
}

img {
    border: 10px solid blue;
}

a {
    color: #ffff00;
    animation: blink-animation 1s linear infinite;
}

@keyframes blink-animation {
    50% { opacity: 0; }
}

header {
    background-color: #7503A6;
}

nav {
    border-bottom: solid black 1px;
    padding: 16px;
}

nav a {
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    display: inline-block;
}

main a {
    color:#8404D9;
}

main {
    padding: 16px;
}

footer {
    background-color: #F20505;
    padding: 2em;
    font-size: 1.5em;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

nav {
    border-bottom: solid black 1px;
    padding: 16px;
}

a, u {
   text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 16px;
    justify-items: center;
}
.container div {
    margin: 0 auto;
}

h3, .container div{
    text-align: center;
}

tr:nth-child(even) {
    background-color: beige;
}

/* Color Theme Swatches in Hex */
.Flower-portrait-1-hex { color: #F2059F; }
.Flower-portrait-2-hex { color: #7503A6; }
.Flower-portrait-3-hex { color: #8404D9; }
.Flower-portrait-4-hex { color: #F2A391; }
.Flower-portrait-5-hex { color: #F20505; }

/* Color Theme Swatches in RGBA */
.Flower-portrait-1-rgba { color: rgba(242, 4, 159, 1); }
.Flower-portrait-2-rgba { color: rgba(117, 3, 165, 1); }
.Flower-portrait-3-rgba { color: rgba(131, 4, 216, 1); }
.Flower-portrait-4-rgba { color: rgba(242, 163, 145, 1); }
.Flower-portrait-5-rgba { color: rgba(242, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.Flower-portrait-1-hsla { color: hsla(320, 96, 48, 1); }
.Flower-portrait-2-hsla { color: hsla(281, 96, 33, 1); }
.Flower-portrait-3-hsla { color: hsla(275, 96, 43, 1); }
.Flower-portrait-4-hsla { color: hsla(11, 79, 76, 1); }
.Flower-portrait-5-hsla { color: hsla(0, 96, 48, 1); }
